@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
img
{
  display: block;
}
a
{
  color: black;
}
/* |||||||||| INIZIO |||||||||| */
.row
{
  --bs-gutter-x: 0;
}

.ms-text-orange
{
  color: #fd8d21;
}

.ms-bg-blue
{
  background-color: #245eb7;
}

.ms-w-h-30px-redorange
{
  width: 30px;
  height: 30px;
  background-color: #f06254;
}

.ms-w-40px
{
  width: 40px;
}

.ms-w-50px
{
  width: 50px;
}

.ms-w-50px
{
  width: 50px;
}

.ms-w-100px
{
  width: 100px;
}

.ms-w-150px
{
  width: 150px;
}

.ms-w-h-30px
{
  width: 30px;
  height: 30px;
}



.ms-w-h-20px
{
  width: 20px;
  height: 20px;
}

.ms-lh-30px
{
  line-height: 30px;
}

.contenitore-generale
{
  height: 100vh;
}



.contenitore-generale > .contenitore-top > .row .form-control
{
  font-size: 0.8rem; 
}
/* |||||||||| HEADER |||||||||| */
.contenitore-top
{
  height: 75px;
  background-color: #f8f9fa;
}
.contenitore-generale > .contenitore-top > .row
{
  height: 100%;
}



/* |||||||||| NAV |||||||||| */


/* |||||||||| MAIN |||||||||| */
.contenitore-bottom
{
  height: calc(100vh - 75px);
}
.contenitore-bottom > .row > div:first-child
{
  background-image: url('../img/sidebar-bg.png');
  background-color: #071e33;
}
.main
{
  height: calc(100vh - 75px);
  overflow-y: scroll;
}

/* 
.contenitore-bottom .row
{
  --bs-gutter-x: 0;
} */
/* |||||||||| HOVER |||||||||| */
.ms-text-orange:hover
{
  color: #fd8d21;
}


/* |||||||||| AREA TEST |||||||||| */


/* |||||||||| AREA TEST |||||||||| */





































/* Fine */